



<div class="content" role="main">


  <!-- Resources -->

  <button mat-flat-button color="primary">
    Flat primary
  </button>

  <button mat-stroked-button color="primary">
    Stroked
  </button>
  <button mat-button color="primary">
    Primary
  </button>
  <br>
  <mat-form-field appearance="fill">
    <mat-icon matPrefix>lock_outlined</mat-icon>
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" value="securePassword" />
    <button mat-icon-button (click)="hide = !hide" color="primary" matSuffix>
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-hint>Please enter your password</mat-hint>
  </mat-form-field>



  <!-- Footer -->




</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
